/* Định dạng từng card phim */
.card-film {
    min-width: 200px;
    /* Đảm bảo kích thước tối thiểu */
    height: 300px;
    /* Chiều cao cố định */
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
}